:root{

    --fontinter:"Inter", serif;
    --maingreen:#4CAF4F;
    --logonamecol: #263238;
    --blacktextkcol: #18191F;
    --white:#FFFFFF;
    --headerback: #F5F7FA;
    --subblackcolor: #717171;
    --mainblackcol: #4D4D4D;
    --footbgcolor:#263238;
    --inputbgcolor:#515B60;
    --placeholdercolor: #D9DBE1;
    --whitelayerColor:rgba(217, 219, 225, 1);

--graylayerColor: rgba(81, 91, 96,1);
--whiteColor: rgba(255, 255, 255, 1);










}